<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block head_title %}
			<title>Django 1</title>
		{% endblock %}
		<!-- customized bootstrap-->
		{% load staticfiles %} 
		<link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'main.css' %}" rel="stylesheet"> 
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				{% block jumbotron %}
					<h1>Default Jumbotron</h1>
				{% endblock %}
			</div>
				<div class="row maincontent">
				<div class="col-md-10 col-md-offset-1">
					{% block content %}
					{% endblock %}
				</div>
				</div>
			<div class="footer">
				{% block footer %}
					{% if user.is_authenticated %}
						<p>Hello {{user.username}} | <a href="{% url 'logout' %}">Logout</a></p>
					{% else %}
						<a href="{% url 'login' %}">Login</a>
					{% endif %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
